@charset "utf-8";

html {}

body {
	background: linear-gradient(45deg, #dadada, transparent);
}

.worksImg {
	width: 320px;
}

#header {
	font-size: 20px;
}

.column {
	background: linear-gradient(45deg, #dadada, transparent);
	padding: 8px;
	margin-bottom: 5px;
}

.headerB {
	background: linear-gradient(45deg, #dadada, transparent);
	padding: 4px;
}

#whole {
	background-color: #fff;
	max-width: 800px;
	margin: auto;
	padding: 5px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;

}